<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head('Login Page')"></head>
<body>
<div style="text-align: center;margin-top: 80px">
    <h1 th:text="#{Login.Page}"></h1>
</div>
<div class="row">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/auth/login}" th:object="${userLoginDTO}">
            <div class="alert-danger mb-2" th:if="${error != null}">
                <span th:text="#{Invalid.email.or.password}"></span>
            </div>
            <div class="form-group">
                <label for="email" th:text="#{login.email}"></label>
                <input type="email" class="form-control" th:field="*{email}" id="email" name="email" required
                       placeholder="john@gmail.com">
            </div>
            <div class="form-group">
                <label for="password" th:text="#{login.password}"></label>
                <input type="password" th:field="*{password}" class="form-control" required name="password"
                       id="password" placeholder="psw123"/>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="remember-me" name="rememberMe">
                <label class="form-check-label" for="remember-me" th:text="#{login.remember}"></label>
            </div>
            <button type="submit" class="btn btn-success" th:text="#{login.button}"></button>
            <a href="/auth/register" type="button" class="btn btn-primary" th:text="#{register.button}"></a>
        </form>
    </div>
</div>
</body>
</html>